body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.form {
    width: 30%;
}

.patentes {
    width: 30%;
}

.patentes-en-espera {
    width: 30%;
}

.regresar {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
